body {
  text-align: center;
}

.intro{
  font-style: oblique;
  color : #550077;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 50px Red;
  Padding: 10px;
}

.intro img{
  width: 50%;
  margin: auto;
  border: 50px Red;
  Padding: 10px;
}

p:hover {
  color: red;
  cursor: pointer;
}

.highlighted {
   background-color: yellow;
   color: black;
   font-size: 15px;
 }
